/* Header */
.sbapi__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.sbapi_legend {
  display: none;
}


/* Rows */
.sbapi__results__row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 8px 0 8px 0;
}

@media all and (max-width: 768px) {
  .sbapi__results__row {
    flex-direction: column;
  }

  .sbapi_legend {
    display: block;
  }
}

#sbapi__lastupdated {
  padding-top: 10px;
}

.sbapi__results__updated {
  display: flex;
  flex-direction: column;
}

.sbapi__results__updated h4 {
  margin: 0 0 10px;
}

.sbapi__results__ranks, .sbapi__header__rank__group {
  display: flex;
  justify-content: space-between;
  width: 28%;
  max-width: 100%;
  margin: auto;
}

@media all and (max-width: 768px) {
  .sbapi__results__ranks {
    width: 50%;
  }

  #sbapi_hd {
    display: none;
  }
}
/* END - .sbapi__results__row */

.sbapi__header__domain,
.sbapi__header__kw,
.sbapi__results__url,
.sbapi__results__kw {
  width: 36%;
}

@media all and (max-width: 768px) {
  .sbapi__header__domain,
  .sbapi__header__kw,
  .sbapi__results__url,
  .sbapi__results__kw {
    width: 100%;
    text-align: center;
  }
}


.sbapi__results__grank,
.sbapi__results__brank,
.sbapi__results__yrank,
.sbapi__header__google,
.sbapi__header__bing,
.sbapi__header__yahoo,
.sbapi__header__ms,
.sbapi__results__ms {
  width: 50px;
  text-align: center;
}

/* Loading text */
.sbapi_loading {
  margin: 18px 0 18px 0;
  font-size: 16px;
}

/* Labels */
span.sbapi_label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Label colors */
.sbapi_legend__domain {
  background: red;
}
.sbapi_legend__kw {
  background: green;
}
.sbapi_legend__google {
  background: blue;
}
.sbapi_legend__bing {
  background: purple;
}
.sbapi_legend__yahoo {
  background: orange
}
/* END - Label colors */

.sbapi_legend {
  font-size: 14px;
}
.sbapi_legend h5 {
  margin: 0;
}

.sbapi_legend ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
